*.elc
eln-cache/
straight/
transient/
eshell/
crafted-emacs/
projects
elpa/
bookmarks
network-security.data
quelpa/
modules/.dir-locals.el

# Hash ignores files
tree-sitter/
\#*\#
*~
history
recentf
/emacs.pdmp
*.dll
*.so
*.dylib
/package-quickstart.el
/org-persist

